# Absolute Dispersion
comparing data with mean

import statistics as stat

In [2]:
data1 = [45,42,41,40]
data2 = [54,48,42,33,33]

In [3]:
stat.mean(data1)

42

In [4]:
stat.mean(data2)

42

## Range
difference between the min and max value in data

In [5]:
print("Range : " , max(data1) - min(data1))

Range :  5

## Variance
how much the other values are far from mean

higher variance means terms are far

In [6]:
stat.variance(data1)

4.666666666666667

In [7]:
stat.variance(data2)

85.5

## Standard deviation
root of variance

In [8]:
stat.pstdev(data1)

1.8708286933869707

In [9]:
stat.pstdev(data2)

8.270429251254132

In [10]:
import seaborn as sns
import pandas as pd

In [11]:
df = sns.load_dataset("mpg")

In [12]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [18]:
print("Range : ",df["mpg"].max()-df["mpg"].min())
print("variance : ",stat.variance(df["mpg"]))
print("Std Deviation : ",stat.pstdev(df["mpg"]))

Range :  37.6
variance :  61.0896107742744
Std Deviation :  7.806159061274432

## Quartiles
divides data into four euqal parts when it has been orderly arranged

In [19]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

### Interqurtile range (IQR)
q3 - q1
We can find outliers using IQR
i.e. anything below 
#### q1 - 1.5IQR and 
anything above 
#### q3 + 1.5IQR is an outlier

# Relative Dispersion
comparing two different units

## Coefficient of Variation
cv = sd/mean * 100
#### more C.V. means group is more variable, less stable

In [25]:
data1 = [45,42,42,41,40]
data2 = [54,48,42,33,33]

In [26]:
cv1 = stat.pstdev(data1)/stat.mean(data1)
cv2 = stat.pstdev(data2)/stat.mean(data2)

In [28]:
print(cv1*100)
print(cv2*100)

3.984095364447979
19.691498217271743

## Coefficient of Qurtile Deviation
Q3-Q1 / Q3 + Q1