In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\aryan\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aryan\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aryan\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aryan\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\aryan\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\aryan\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import numpy as np
import pandas as pd

### 1. Creating a series
Series is a one-D labeled array capable of holding data of any type.

#### Series through list

In [4]:
lst = [1,2,3,4,5]
s = pd.Series(lst)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Series through array

In [6]:
arr = np.array([5,3,4,2,1])
s1 = pd.Series(arr)
print(s1)

0    5
1    3
2    4
3    2
4    1
dtype: int32

#### Series with our own index

In [9]:
s = pd.Series(data = ['aryan','wala','best'], index = [4,2,3])
print(s)

4    aryan
2     wala
3     best
dtype: object

#### Series through Dict

In [11]:
dic = {'day_1' : 5000,
      'day_2' : 4050,
      'dat_3': 5600}
pd.Series(dic)

day_1    5000
day_2    4050
dat_3    5600
dtype: int64

#### Series using repeat
It repeats the elements of a Series. It returns new series where each no is repeated given no of times

In [12]:
pd.Series([4]).repeat(4)

0    4
0    4
0    4
0    4
dtype: int64

In [13]:
pd.Series([1,2,3]).repeat(3)

0    1
0    1
0    1
1    2
1    2
1    2
2    3
2    3
2    3
dtype: int64

In [15]:
pd.Series([1,2]).repeat([5,6])

0    1
0    1
0    1
0    1
0    1
1    2
1    2
1    2
1    2
1    2
1    2
dtype: int64

In [16]:
pd.Series(1).repeat(3).reset_index()

   index  0
0      0  1
1      0  1
2      0  1

In [17]:
pd.Series(1).repeat(3).reset_index(drop = "True")

0    1
1    1
2    1
dtype: int64

#### Accessing the Elements

In [23]:
s = pd.Series([1,2,3,4,5])

for i in range(5):
    print(s[i])

1
2
3
4
5

#### Slicing

In [27]:
print(s)
print(s[2:5])
print(s[::-1])

0    1
1    2
2    3
3    4
4    5
dtype: int64
2    3
3    4
4    5
dtype: int64
4    5
3    4
2    3
1    2
0    1
dtype: int64

### 2. Aggregate functions
Min, Max, sum etc

In [34]:
sr = pd.Series([1,-2,3,4,-5,6,7])
print(sr.agg([min,max,sum]))

#Absolute Function
sr.abs()

min    -5
max     7
sum    14
dtype: int64

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

### 3. Combining Different Series

In [58]:
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([5,6,7,8])

sr1.combine(sr2,(lambda x1, x2: x1+x2))

0     6
1     8
2    10
3    12
dtype: int64

### 4. Astype()
is used to change the type of series.

In [59]:
print(type(sr1[0]))

<class 'numpy.int64'>

In [62]:
sr1 = sr1.astype('float')
print(sr1)
print(sr1.astype('str'))
print(sr1.astype('int64'))

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
dtype: object
0    1
1    2
2    3
3    4
dtype: int64

### 6. Between()
which values lie between two parameters

In [65]:
sr1 = pd.Series([1,2,3,4,5,6,7,8,9],index=[1,2,3,4,5,6,7,8,9])
print(sr1.between(5,9))

1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

### 7. String functions

In [66]:
sr = pd.Series(['aryan','wala','how','are', 'you'])

#### a. upper and lower

In [69]:
print(sr.str.upper())
print(sr.str.lower())

0    ARYAN
1     WALA
2      HOW
3      ARE
4      YOU
dtype: object
0    aryan
1     wala
2      how
3      are
4      you
dtype: object

#### b. length

In [71]:
for i in sr:
    print(i,len(i))

aryan 5
wala 4
how 3
are 3
you 3

#### c. Strip

In [82]:
sr = pd.Series(['   aryan ','  wala  ','how',' are', 'you '])
for i in sr:
    print(i,len(i))

   aryan  9
  wala   8
how 3
 are 4
you  4

In [85]:
sr = sr.str.strip()
for i in sr:
    print(i,len(i))

aryan 5
wala 4
how 3
are 3
you 3

#### d. split

In [90]:
dates = pd.Series(['10/1/2020','10/2/2012','10/4/2021','13/1/2000','12/11/1620'])
print(dates.str.split('/'))
for i in dates.str.split('/'):
    print('Day :',i[0],'Month :',i[1],'Year :',i[2])

0     [10, 1, 2020]
1     [10, 2, 2012]
2     [10, 4, 2021]
3     [13, 1, 2000]
4    [12, 11, 1620]
dtype: object
Day : 10 Month : 1 Year : 2020
Day : 10 Month : 2 Year : 2012
Day : 10 Month : 4 Year : 2021
Day : 13 Month : 1 Year : 2000
Day : 12 Month : 11 Year : 1620

#### e. contains

In [92]:
print(sr)
print(sr.str.contains('a'))

0    aryan
1     wala
2      how
3      are
4      you
dtype: object
0     True
1     True
2    False
3     True
4    False
dtype: bool

#### f. Replace

In [93]:
print(sr.str.replace('a','b'))

0    brybn
1     wblb
2      how
3      bre
4      you
dtype: object

#### g. count

In [95]:
print(sr)
print(sr.str.count('a'))

0    aryan
1     wala
2      how
3      are
4      you
dtype: object
0    2
1    2
2    0
3    1
4    0
dtype: int64

#### f. startswith and endswith

In [99]:
print(sr.str.startswith('a'))
print(sr.str.endswith('w'))

0     True
1    False
2    False
3     True
4    False
dtype: bool
0    False
1    False
2     True
3    False
4    False
dtype: bool

#### g. find

In [101]:
print(sr)
print(sr.str.find('ar'))

0    aryan
1     wala
2      how
3      are
4      you
dtype: object
0    0
1   -1
2   -1
3    0
4   -1
dtype: int64

### 7. Converting series to list

In [106]:
sr.to_list()

['aryan', 'wala', 'how', 'are', 'you']